.todo-container {
    padding: 20px 0;
    width: 85%;
    height: 90%;
}

.todo-items-container {
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 10px 20px 20px 20px;
    position: relative;
}

.todo-items-title {
    margin-top: 2%;
    border-radius: 5px 5px 0 0;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.todo-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    h1 {
        font-size: 30px;
    }
}

@media only screen and (max-device-width : 1024px) {
    .todo-top {
        h1 {
            font-size: 25px;
            word-break: break-all;
        }
        button {
            margin: 10px 0;
            margin-left: auto;
        }
    }
}